@use '../../helpers/' as *;

button {
    @include flex(flex, center, center);
    transition: all var(--transition-time);
    background-color: transparent;
    letter-spacing: 2px;
    outline: 0;

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
            background-color: var(--third-white-A15);
        }
    }

    &:focus {
        background-color: var(--third-white-A15);
    }
}