@use '../../helpers/' as *;

.button {
    &--primary {
        @include border-pack(1px, solid, var(--second-white-A75));
        background-color: var(--second-DarkGrey-A50);
        font-size: var(--small-font);
        border-radius: 7px;
    }

    &--switch {
        @include border-pack(1px, solid, var(--second-white-A75));
        font-size: var(--small-font);
        border-radius: 5px;
    }

    &--action {
        @include border-pack(1px, solid, var(--second-white-A75));
        font-size: var(--small-font);
        border-radius: 7px;
        background-color: var(--first-black-A35);
    }
}