@use 'functions' as *;

$mobile-xs: 320.98px;
$mobile: 767.98px;
$tablet: 1023.98px;
$laptop: 1440.98px;
$desktop-xl: 1920px;

// только в рамках 320.98px
@mixin mobile-xs {
  @media (max-width: $mobile-xs) { @content; }
}

// от 320.98px до 767.98px
@mixin mobile-above {
  @media (min-width: #{$mobile-xs + 0.02}) and (max-width: $mobile) { @content; }
}

// только диапазон 767.98px
@mixin mobile {
  @media (min-width: #{$mobile - 0.02}) and (max-width: $mobile) { @content; }
}

// от 767.98px до 1023.98px
@mixin tablet-above {
  @media (min-width: #{$mobile + 0.02}) and (max-width: $tablet) { @content; }
}

// только диапазон 1023.98px
@mixin tablet {
  @media (min-width: #{$tablet - 0.02}) and (max-width: $tablet) { @content; }
}

// от 1023.98px до 1440.98px
@mixin laptop-above {
  @media (min-width: #{$tablet + 0.02}) and (max-width: $laptop) { @content; }
}

// только диапазон 1440.98px
@mixin laptop {
  @media (min-width: #{$laptop - 0.02}) and (max-width: $laptop) { @content; }
}

// от 1440.98px до 1920px
@mixin desktop-xl-above {
  @media (min-width: #{$laptop + 0.02}) and (max-width: $desktop-xl) { @content; }
}

// только диапазон 1920px
@mixin desktop-xl {
  @media (min-width: #{$desktop-xl - 0.02}) and (max-width: $desktop-xl) { @content; }
}

// (все что выше 1920px)
@mixin ultra-wide {
  @media (min-width: #{$desktop-xl + 0.02}) { @content; }
}









/*$desktop-xl: 1920;
$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-xs: 320.98;

@mixin desktop-xl-above {
    @media (width > rem($desktop-xl)) {
        @content;
    }
}

@mixin desktop-xl {
    @media (width <= rem($desktop-xl)) {
        @content;
    }
}

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-xs-above {
    @media (width > rem($mobile-xs)) {
        @content;
    }
}

@mixin mobile-xs {
    @media (width <= rem($mobile-xs)) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
} */