*,
::before,
::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

figure,
blockquote {
  margin: 0;
}

hr {
  margin: 0;
  width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}