@use '../../helpers/' as *;

.form {
    @include flex(flex, center, center);
    width: 100%;
    height: 100%;
    gap: rem(40);
    flex-direction: column;
    border-radius: 0px 0px 9px 9px;
    background-color: var(--first-DarkGrey-A75);
}