@use '../../helpers/' as *;

.form {
    input {
        @include border-pack(1px, solid, var(--second-white-A75));
        outline: 0;
        border-radius: 4px;
        letter-spacing: 2px;
        padding-left: rem(10);
        color: var(--first-white-A75);
        transition: all var(--transition-time);
        background-color: var(--third-LightGrey-A100);

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                background-color: var(--third-white-A15);
            }

            &:focus {
                cursor: text;
                background-color: var(--third-white-A15);
            }
        }
    }
}